{{ define "main" }}
<div x-data="societyApp('{{ .Site.Params.API_URL | default "" }}')" class="min-vh-100 bg-white" x-cloak>

    {{ partial "mobile/loader.html" . }}

    {{ partial "mobile/header.html" . }}

    <div x-show="view === 'home'" class="app-view">
        {{ partial "mobile/dashboard.html" . }}
    </div>

    <div x-show="view === 'residents'" class="app-view">
        {{ partial "mobile/residents-list.html" . }}
    </div>

    <div x-show="view === 'history'" class="app-view">
        {{ partial "mobile/resident-detail.html" . }}
    </div>

    <div x-show="view === 'add'" class="app-view">
        {{ partial "mobile/add-entry.html" . }}
    </div>
    <div x-show="view === 'report'" class="app-view">
        {{ partial "mobile/maintenance-report.html" . }}
    </div>

    <div x-show="view === 'validate'" class="app-view">
        {{ partial "mobile/validate.html" . }}
    </div>
    
    {{ partial "mobile/bottom-nav.html" . }}
    
    <div class="mt-auto">
        {{ partial "mobile/footer.html" . }}
    </div>
</div>
{{ end }}